- if @snippet.new_record? || !@snippet.file_system_resource?
  = defaults[:edit_form]
- else
  - if admin?
    %p File System Resources are not editable in the admin UI. You'll need to edit them on the file system.
  - else
    %p This is a standard Snippet and is not editable.
  .form-area
    %p
      %strong Snippet Location: 
      = @snippet.path
    %p
      %strong Content
    %div{:style => 'overflow: auto;'}
      %pre
        =h @snippet.content
  %p= link_to "Return to Snippets", admin_snippets_path